body {
  height: 100vh;
  max-height: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center center;
}

.wrapper {
  width: 350px;
}

.loader {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 200px;
  max-height: 100%;
}

.container > div:nth-child(1) {
  height: 3.2rem;
  width: 3.2rem;
  background-color: #2be1e2ba;
  border-radius: 50%;
  position: absolute;
  top: 6rem;
  left: 9.3rem;
  z-index: 10;
  animation: one 2s infinite;
}

@keyframes one {
  50% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-5px);
  }
}

.container > div:nth-child(2) {
  height: 3.2rem;
  width: 3.2rem;
  background-color: #d54efbb8;
  border-radius: 50%;
  position: absolute;
  top: 7.8rem;
  right: 8rem;
  z-index: 20;
  animation: two 2s infinite;
}

@keyframes two {
  50% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(3px);
  }
}

.icon {
  width: 2rem;
  fill: white;
  position: absolute;
  top: 7.9rem;
  right: 9.5rem;
  z-index: 50;
}

.container > div:nth-child(4) {
  height: 3.2rem;
  width: 3.2rem;
  background-color: #ff80b4ba;
  border-radius: 50%;
  position: absolute;
  top: 7.8rem;
  left: 8rem;
  z-index: 30;
  animation: four 2s infinite;
}

@keyframes four {
  50% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(-3px);
  }
}

.title {
  margin: 0;
  font-size: 15px;
  text-align: center;
}
